@import url(vars.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: local('BaiJamjuree-Regular'),
    url(../fonts/BaiJamjuree-Regular.woff2) format("woff2"),
    url(../fonts/BaiJamjuree-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: local('BaiJamjuree-SemiBold'),
    url(../fonts/BaiJamjuree-SemiBold.woff2) format("woff2"),
    url(../fonts/BaiJamjuree-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: local('BaiJamjuree-Medium'),
    url(../fonts/BaiJamjuree-Medium.woff2) format("woff2"),
    url(../fonts/BaiJamjuree-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: local('BaiJamjuree-Bold'),
    url(../fonts/BaiJamjuree-Bold.woff2) format("woff2"),
    url(../fonts/BaiJamjuree-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'BaiJamjuree', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*glob*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  display: flex;
  max-width: 19em;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 25px;
  color: var(--ghost_white);
  background-color: var(--primary);
}

.btn--transparent {
}

.header {
  padding: 20px 0;
}

.nav {
  justify-content: space-between;
}

.nav__list {
}

.nav__item:not(:last-child) {
    margin-right: 20px;
}

.hero {
  padding: 75px 15px;
  background-image: url(../main/img/back.jpg);
  color: var(--ghost_white);
}

.title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.hero__main {
  justify-content: space-between;
}

.hero__block {
  width: calc(100% / 2);
  align-self: center;
  flex-direction: column;
}

.hero__param {

}

.hero__list {
  position: relative;
  justify-content: space-around;
}

.hero__list::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: running-line 2s linear infinite;
}


.hero__item {
  align-items: center;
}

.hero__item span {
  padding-left: 1vh;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.hero__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../main/img/code.svg);
  background-size: 30px;
}

.about__item::before {
  content: url(../main/img/main/check.svg);
  display: block;
  margin-right: 16px;
  width: 10px;
  height: 10px;
}

.courses {
  padding: 75px 0;
  background-image: url(../main/img/back.jpg);
}
.events {
  padding: 80px 0;
  background-image: url(../main/img/main/background.jpg);
}
.reviews__text::before {
  position: absolute;
  left: 6%;
  content: url("../main/img/main/braces.svg");
}
