:root {
    --dusty_gray: #9C9C9C;
    --gallery: #EEEEEE;
    --ghost_white: #F8F8FF;
    --mine-shaft: #212121;
    --white: #FFFFFF;
    --golden_tainoi: #FFCF55;
    --ronchi: #F0C451;
    --egg_white: #FFEEC2;
    --white: #FFFFFF;
    --primary: #FF3F3A;
    --sunglow: #FFCF2D;
    --storm-gray: #787A80;
    --ebony-clay: #1E212C;
}