{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block body %}
<section class="blog">
  <div class="container">
    <h1 class="title title__animation">{{ h1 }}</h1>
    <ul class="list">
      {% for p in posts %}
      <img class="blog-img" src="{{ p.image.url }}" alt="">
      <li class="blog__item">
        <h2 class="d-flex justify-content-between">
          {{ p.title }}
          <span class="post__span">({{ p.publish }})</span>
        </h2>
        <p>{{ p.text|safe|linebreaks|truncatewords:50 }}</p>
        <a href="{{ p.get_absolute_url }}" class="button btn__animation btn-reset" target="_blank">Читать пост</a>
      </li>
      {% endfor %}
    </ul>
    <p class="paper__param">
      <span>ГаГаГА</span>
    </p>
  </div>
</section>

{% endblock %}