{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<section>
    <div class="container">
      <div class="hero">
        <h1 class="title">
          Разработка и создание сайтов и веб-проектов под ключ
        </h1>
<div class="hero__main flex">
  <div class="hero__block flex">
    <p class="hero__param">
      Разработка сайтов: одностраничных лендингов и сайтов-визиток, многостраничных сайтов с блогом, платформ с авторизацией и регистрацией пользователей, интернет-магазинов, телеграмм ботов и многого другого
    </p>
  </div>
    <picture class="hero__img">
      <img loading="lazy" src="../../static/main/img/progr.svg"  width="390" height="300" alt="Image">
    </picture>


</div>
<ul class="hero__list list-reset running-line flex">
  <li class="hero__item flex">
    <span>Быстро</span>
  </li>
  <li class="hero__item flex">
    <span>Качественно</span>
  </li>
  <li class="hero__item flex">
    <span>Надежно</span>
  </li>
</ul>

      </div>
    </div>
  </section>
<section class="about">
    <div class="container">
      <div class="about__main">
          <img class="about__main--img" src="../../static/main/img/monitoring.png" alt="">
        <div class="about__main--right">
          <h2 class="about__title">
            Почему я?
          </h2>
          <ul class="about__list list-reset">
            <li class="about__item">
              A fermentum in morbi pretium aliquam adipiscing donec tempus.
            </li>
            <li class="about__item">
              Vulputate placerat amet pulvinar lorem nisl.
            </li>
            <li class="about__item">
              Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            </li>
            <li class="about__item">
              Etiam duis lobortis in fames ultrices commodo nibh.
            </li>
            <li class="about__item">
              Tincidunt sagittis neque sem ac eget.
            </li>
            <li class="about__item">
              Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="courses">
    <div class="container">
      <div class="courses__main">
        <div class="courses__main--block">
          <div class="courses__title--block">
            <h2 class="courses__title">
              Основные направления
            </h2>
          </div>
        </div>
        <ul class="courses__list list-reset">
          <li class="courses__item">
            <img class="courses__item--img" src="../../static/main/img/html.png" alt="Picture">
  
            <div class="courses__item--block">
              <h3 class="courses__item--span">
                HTML, CSS
              </h3>
              <h4 class="courses__subtitle">
                Верстка сайтов
              </h4>
              <p class="courses__param">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
            </div>
          </li>
          <li class="courses__item">
            <img class="courses__item--img" src="../../static/main/img/js.png" alt="Picture">
            <div class="courses__item--block">
              <h3 class="courses__item--span">
                JavaScript
              </h3>
              <h4 class="courses__subtitle">
                Добавления анимаций на сайты
              </h4>
              <p class="courses__param">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
            </div>
          </li>
          <li class="courses__item">
            <img class="courses__item--img" src="../../static/main/img/python1.png" alt="Picture">
            <div class="courses__item--block">
              <h3 class="courses__item--span">
                Python
              </h3>
              <h4 class="courses__subtitle">
                Программирование на языке Python
              </h4>
              <p class="courses__param">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
            </div>
          </li>
          <li class="courses__item">
            <img class="courses__item--img" src="../../static/main/img/php.png" alt="Picture">
            <div class="courses__item--block">
              <h3 class="courses__item--span">
                PHP
              </h3>
              <h4 class="courses__subtitle">
                Функциональность сайтов при помощи языка программирования PHP
              </h4>
              <p class="courses__param">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."            </p>
            </div>
          </li>
          <li class="courses__item">
            <img class="courses__item--img" src="../../static/main/img/seo.png" alt="Picture">
            <div class="courses__item--block">
              <h3 class="courses__item--span">
                SEO
              </h3>
              <h4 class="courses__subtitle">
                Поисковая оптимизация и продвижение сайтов в поисковых системах
              </h4>
              <p class="courses__param">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <div class="team__main">
        <div class="team__title--block">
          <span>Best tutors are all here</span>
          <h2 class="team__title">
            Примеры работ
          </h2>
        </div>
        <div class="team__nav">
          <div class="team__btns">
            <button class="btn-reset team__slider-btn team__slider-btn--prev" aria-label="Перейти к предыдущему слайду">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                  d="M9.20711 17.2071C8.81658 17.5976 8.18342 17.5976 7.79289 17.2071L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929L7.79289 6.79289C8.18342 6.40237 8.81658 6.40237 9.20711 6.79289C9.59763 7.18342 9.59763 7.81658 9.20711 8.20711L6.41421 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L6.41421 13L9.20711 15.7929C9.59763 16.1834 9.59763 16.8166 9.20711 17.2071Z" />
              </svg>
            </button>
            <button class="btn-reset team__slider-btn team__slider-btn--next" aria-label="Перейти к следующему слайду">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                  d="M14.7929 6.79289C15.1834 6.40237 15.8166 6.40237 16.2071 6.79289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L16.2071 17.2071C15.8166 17.5976 15.1834 17.5976 14.7929 17.2071C14.4024 16.8166 14.4024 16.1834 14.7929 15.7929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L14.7929 8.20711C14.4024 7.81658 14.4024 7.18342 14.7929 6.79289Z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="swiper team__list">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="team__item">
                <picture>
                  <img loading="lazy" src="../../static/main/img/pr_agency.png" class="team__image" width="285" height="340"
                    alt="Dianne Russell">
                </picture>
                <p class="team__name">Dianne Russell</p>
                <p class="team__post">Founder and CEO</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team__item">
                <picture>
                  <img loading="lazy" src="../../static/main/img/Lawyer.png" class="team__image" width="285" height="340"
                    alt="Jerome Bell">
                </picture>
                <p class="team__name">Jerome Bell</p>
                <p class="team__post">Founder and Program Director</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team__item">
                <picture>
                  <img loading="lazy" src="../../static/main/img/trainer.png" class="team__image" width="285" height="340"
                    alt="Kristin Watson">
                </picture>
                <p class="team__name">Kristin Watson</p>
                <p class="team__post">Marketer, Curator of Marketing Course</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team__item">
                <picture>
                  <img loading="lazy" src="../../static/main/img/marann.png" class="team__image" width="285" height="340"
                    alt="Kristin Watson">
                </picture>
                <p class="team__name">Kristin Watson</p>
                <p class="team__post">Marketer, Curator of Marketing Course</p>
              </div>
            </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews">
    <div class="container">
      <div class="reviews__main">
        <div class="reviews__title-block">
          <span>TESTIMONIALS</span>
          <h2 class="reviews__title">
            Отзывы клиентов
          </h2>
        </div>
        <div class="reviews__block">
          <p class="reviews__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
          </p>
          <div class="reviews__student">
            <picture>
              <img loading="lazy" src="../../static/main/img/student.png" class="reviews__student-image" width="72" height="72" alt="Eleanor Pena">
            </picture>
            <div class="reviews__student-text">
              <p class="reviews__param-name">
                Eleanor Pena
              </p>
              <p class="reviews__param-course">
                Position, Course
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}