{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<section class="">
    <div class="container pt-5 pb-3">
        <div class="hero">
            <div class="hero-block">
                <h1 class="title">
                    AI для продаж, маркетинга и бизнеса — рост эффективности в 2 раза
                </h1>
                <p class="hero-param">
                    Автоматизируйте рутину, повышайте конверсию и масштабируйте бизнес с AI-решениями, разработанными под ваш запрос.
                </p>
            </div>
            <a href="https://t.me/zbinprodazhi" target="_blank" class="hero-btn btn__animation">
                Начать бесплатно
            </a>
        </div>
    </div>
</section>
<section class="">
    <div class="container about pt-5 pb-3">
        <div class="about-top  mb-5">
            <div class="about-top__left p-3">
                <h2 class="title-second">
                    Почему выбирают нас?
                </h2>
                <ul class="about-list">
                    <li class="about-param">
                        Индивидуальный подход: разрабатываем AI-ассистентов под специфику бизнеса.
                    </li>
                    <li class="about-param">
                        Опыт и экспертиза: внедрение AI в более чем 50+ компаниях.
                    </li>
                    <li class="about-param">
                        Реальные результаты: рост конверсии на 30–50% и сокращение затрат на 40%.
                    </li>
                </ul>

            </div>
            <div class="about-top__right">
                <img class="img" src="../../static/main/img/mask.png" alt="">
            </div>
        </div>
        <div class="about-bottom">
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/1.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Фрилансеры и эксперты
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Нет времени на поиск клиентов, сложность с доведением до покупки.
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-ассистент анализирует ЦА, сегментирует лиды и отправляет персонализированные предложения.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/2.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Предприниматели
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Высокая стоимость привлечения клиентов, неэффективная реклама.
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-аналитика определяет наиболее конверсионные каналы, помогает оптимизировать рекламу и снизить затраты.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/3.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Крупный бизнес
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Длительное обучение новых сотрудников, потеря данных при передаче задач.
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-чат-бот обучает сотрудников, автоматизирует вводные процессы и сохраняет данные.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/4.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Маркетологи
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Трудности с прогнозированием результатов рекламных кампаний
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-анализ поведения пользователей, точный расчет прогноза продаж и динамической персонализации рекламы.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/5.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Отделы продаж
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Потеря потенциальных клиентов из-за несвоевременной обработки заявок
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-скрипты обрабатывают заявки мгновенно, выявляют горячих клиентов и напоминают менеджерам о перезвоне.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/6.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Стартапы
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Ограниченный бюджет, нехватка данных для принятия решений.
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-автоматизация процессов снижает затраты, а алгоритмы прогнозируют поведение клиентов на основе рынка.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/7.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Клиентский сервис
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Долгое время отклика, низкая удовлетворенность клиентов.
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-чат-боты мгновенно отвечают на запросы, персонализируют поддержку и улучшают клиентский опыт
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-bottom__cards">
                <div class="about-bottom__cards-inner">
                    <div class="about-bottom__cards-front">
                        <img src="../../static/main/img/8.png" alt="" class="about-bottom__cards--img mb-2">
                        <h3 class="about-bottom__cards-title">
                            Онлайн-школы
                        </h3>
                        <p class="about-bottom__cards--span">(Нажми и узнаешь)</p>
                    </div>
                    <div class="about-bottom__cards-back">
                        <p class="about-bottom__cards-param">
                            Проблема: Кураторы не успевают оперативно отвечать на вопросы студентов.
                        </p>
                        <p class="about-bottom__cards-param">
                            Решение: AI-чат-боты помогают отвечать на частые вопросы, проверять задания и персонализировать поддержку студентов.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="">
    <div class="container subscription">
        <div class="subscription-top mb-5">
            <h2 class="title-second">
                Бесплатный разбор вашего бизнеса
            </h2>
            <p class="subscription-param">
                Вы получите пошаговую стратегию внедрения AI под вашу нишу и четкий расчет выгоды.
            </p>
            <a href="https://t.me/zbinprodazhi" target="_blank" class="hero-btn subscription-btn btn__animation">
                Получить консультацию
            </a>
        </div>
        <div class="subscription-bottom">
            <h3 class="title-third me-5">
                Что дает внедрение AI?
            </h3>
            <ul class="subscription-bottom__list list-reset">
                <li class="subscription-bottom__item mb-5">
                    <h4 class="subscription-bottom__title">
                        Увеличение прибыли за счет автоматизации продаж
                    </h4>
                    <p class="subscription-bottom__param">
                        Исключение рутинных задач позволяет сотрудникам сфокусироваться на ключевых сделках и ускорить процесс продаж.
                    </p>
                </li>
                <li class="subscription-bottom__item mb-5">
                    <h4 class="subscription-bottom__title">
                        Сокращение расходов на сотрудников и рутинные процессы
                    </h4>
                    <p class="subscription-bottom__param">
                        AI берет на себя рутинные задачи, снижая необходимость в дополнительных ресурсах.
                    </p>
                </li>
                <li class="subscription-bottom__item mb-5">
                    <h4 class="subscription-bottom__title">
                        Рост лояльности клиентов за счет персонализации
                    </h4>
                    <p class="subscription-bottom__param">
                        Интеллектуальный анализ данных помогает предлагать клиентам именно то, что им нужно, повышая удовлетворенность.
                    </p>
                </li>
                <li class="subscription-bottom__item mb-5">
                    <h4 class="subscription-bottom__title">
                        Оптимизация бизнес-процессов без лишних затрат
                    </h4>
                    <p class="subscription-bottom__param">
                        AI упрощает внутренние процессы, снижая вероятность ошибок и повышая производительность
                    </p>
                </li>
                <li class="subscription-bottom__item mb-5">
                    <h4 class="subscription-bottom__title">
                        Быстрый анализ данных для эффективных решений
                    </h4>
                    <p class="subscription-bottom__param">
                        AI анализирует большие объемы информации в реальном времени, давая точные рекомендации по управлению бизнесом.
                    </p>
                </li>
                <li class="subscription-bottom__item mb-5">
                    <h4 class="subscription-bottom__title">
                        Конкурентное преимущество на рынке
                    </h4>
                    <p class="subscription-bottom__param">
                        Внедрение AI позволяет быстрее адаптироваться к изменениям рынка и превосходить конкурентов
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="">
    <div class="container topics">
        <div class="topics-top">
            <h3 class="title-third mb-3">
                Как AI помогает бизнесу?
            </h3>
            <ul class="topics-list list-reset">
                <li class="topics-item">
                    трафик
                </li>
                <li class="topics-item">
                    воронки
                </li>
                <li class="topics-item">
                    упаковка соцсетей
                </li>
                <li class="topics-item">
                    съемка контента
                </li>
                <li class="topics-item">
                    разработка контент-плана
                </li>
                <li class="topics-item">
                    поиск клиентов
                </li>
                <li class="topics-item">
                    создание и реализация прогревов
                </li>
                <li class="topics-item">
                    реклама
                </li>
                <li class="topics-item">
                    аналитика
                </li>
                <li class="topics-item">
                    партизанский маркетинг
                </li>
                <li class="topics-item">
                    создание стратегии
                </li>
                <li class="topics-item">
                    написание сценариев
                </li>
            </ul>
        </div>
        <div class="topics-bottom">
            <h4 class="title-four">
                Тест-драйв AI-ассистентов
            </h4>
            <div class="topics-bottom__right">
                <ul class="topics-bottom__right--list list-reset">
                    <li class="topics-bottom__right--item">
                        Попробуйте AI-решения бесплатно:
                    </li>
                    <li class="topics-bottom__right--item">
                        -AI-менеджер по продажам
                    </li>
                    <li class="topics-bottom__right--item">
                        -Персональный сторисмейкер
                    </li>
                    <li class="topics-bottom__right--item">
                        -Даже AI-диетолог
                    </li>
                    <a href="https://t.me/zbinprodazhi" target="_blank"
                    class="hero-btn subscription-btn btn__animation mb-3">
                    Начать бесплатно
                </a>

                </ul>
                <img src="../../static/main/img/image.png" alt="фрилансер" class="topic-bottom__right--img img">
            </div>
        </div>
    </div>
</section>

<section id="owner">
    <div class="container owner">
        <h2 class="title-second">
            Андрей Збин — эксперт в области продаж, AI и автоматизации
        </h2>
        <div class="owner-block">
            <img src="../../static/main/img/zbin.png" alt="маркетолог" class="owner-block__img">
            <div class="owner-block__right">
                <p class="owner-block__right--param">
                    Основные факты:
                </p>
                <ul class="owner_list">
                    <li>Руководитель отдела продаж / Тренер по продажам / Руководитель коммерческого направления со стажем 15 лет</li>
                    <li>Создал 4 эффективных отдела продаж "с нуля" в компаниях с оборотом от 50 млн в год</li>
                    <li>Успешно привлёк 50+ VIP-клиентов в ведущих российских банках (UniCredit, Альфа-Банк, Росбанк)</li>
                    <li>Разработал для маркетингового агентства AI-помощников и внедрил. Как результат: увеличил выручку в 25 раз</li>
                    <li>Высшее образование: инженер автоматизации тех процессов и производств</li>
                    <li>Диплом государственного образца по профессии "программирование"</li>
                    <li>Большое количество сертификатов о доп образовании по направлениям: программирование, продажи, SEO, маркетинг</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="hero pt-5 pb-3">
            <div class="hero-block">
                <h2 class="title">
                    Все возможности AI
                </h2>
                <p class="hero-param hero-param__second">
                    Подпишитесь на Telegram-канал и узнавайте о новых AI-решениях первыми!
                </p>
            </div>
            <a href="https://t.me/zbinprodazhi" target="_blank" class="hero-btn btn__animation">
                Подписаться
            </a>
        </div>
        <ul class="services__list flex">
            {% for i in items %}
            <li class="services__item">
                <img class="footer-img" src="../../static/main/img/svg/code.svg" alt="">
                <h3 class="services__title">
                    {{ i.title }}
                </h3>
                <p class="services__param">
                    {{ i.text|safe }}
                </p>
                <p class="services__param-price">{{ i.price }} руб</p>
        
                {% if i.url %}
                <a href="{{ i.url }}" target="_blank" class="btn services__btn">
                    Купить
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        
    </div>
</section>

{% endblock %}