{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container">
    <p class="doc__param pt-3">Договор оферты</p>
    <p class="doc__param">
    Термины и определения<br>В настоящем договоре
        на реализацию информационного продукта, если из текста прямо не вытекает иное, следующие термины будут иметь
        указанные ниже значения:<br><br>«Вебинар»,<br>Оказание информационных услуг, осуществляемое посредством
        удаленного доступа через сеть Интернет, проходящее в режиме реального времени.<br><br>Вебинар может проводиться
        в форме видео или аудиотрансляции, обмена сообщениями, в иных формах. Вебинар может предусматривать возможность
        осуществления обратной связи с лицом, оказывающим информационные услуги.<br>«урок»<br>Оказание информационных
        услуг, осуществляемое посредством удаленного доступа через сеть Интернет в записи.<br>«Диск»<br><br>Совокупность
        информационных материалов (текстов, изображений, аудиозаписей, аудиовизуальных документов) в электронной форме,
        записанных на CD или DVD – носитель.<br><br>«Договор»<br><br>Настоящий договор на реализацию информационного
        продукта.<br>«Индивидуальная ссылка» Уникальная гипертекстовая ссылка, позволяющая осуществить получить доступ к
        Объекту реализации однократно или ограниченное количество раз.<br><br>«Информационный курс»<br><br>Совокупность
        информационных материалов (текстов, изображений, аудиозаписей, аудиовизуальных документов) в электронной форме.
        Атрибуты файлов, содержащих Информационный курс, указываются на
        Сайте.<br><br>«Исполнитель»<br><br>Индивидуальный предприниматель Комарова Анна Анатольевна, адрес для
        корреспонденции: РФ, г. ул. Ореховый проезд, д. 29, к. 1, кв. 12.<br><br>«Объект реализации»<br><br>Вебинар
        и/или Информационный курс и/или Диск и/или «урок». Стоимость Объекта реализации указана на
        Сайте.<br><br>«Потребитель»<br><br>Любое лицо, оплатившее стоимость Объекта реализации, в порядке,
        предусмотренном Договором.<br><br>В случае если действия, указанные в пункте 2 Договора, фактически совершены
        другим лицом, считается, что такое лицо действовало в интересах Потребителя.<br><br>«Сайт»<br><br>Совокупность
        программ для электронных вычислительных машин и иной информации, содержащейся в информационной системе, доступ к
        которой обеспечивается через сеть Интернет по сетевому адресу http://komarova-marketolog.ru <br>«Стороны»
        Исполнитель и Потребитель.<br><br>«Уведомление о заключении Договора»<br><br>Сообщение, направляемое
        Исполнителем Потребителю и подтверждающее факт заключения Договора, а также содержащее информацию, необходимую
        для получения Потребителем Объекта реализации.<br><br>Все остальные термины и определения, встречающиеся в
        тексте Договора, толкуются Сторонами в соответствии с действующим законодательством Российской
        Федерации.<br><br>Названия заголовков (статей)<br><br>Договора предназначены исключительно для удобства
        пользования текстом Договора и буквального юридического значения не имеют.<br><br>Порядок заключения
        Договора<br>2.1. Текст Договора, постоянно размещенный в сети Интернет по сетевому адресу
        http://komarova-marketolog.ru/oferta, содержит все существенные условия Договора и является предложением
        Исполнителя, заключить Договор с любым третьим лицом, использующим Сайт, на указанных в тексте Договора
        условиях. Таким образом, в соответствии с положениями пункта 2 статьи 437 Гражданского кодекса Российской
        Федерации, текст Договора является публичной офертой.<br><br>2.2. Акцепт оферты, указанной в пункте 2.1
        Договора, осуществляется Потребителем посредством последовательного осуществления следующих
        действий:<br><br>2.2.1. выбор Объекта реализации посредством нажатия кнопки «Начать обучаться» на
        соответствующей странице Сайта;<br><br>2.2.2. внесение в форму заказа, которая появляется на Сайте после выбора
        Объекта реализации, сведений о Потребителе, в том числе имени Потребителя, адреса электронной почты и номера
        мобильного телефона Потребителя, а также иных сведений, необходимость внесения которых предусмотрена
        соответствующей формой заказа;<br><br>2.2.3. нажатие кнопки «Начать обучаться» в заполненной форме заказа.
        При этом нажатием кнопки «Начать обучаться» Потребитель подтверждает факт ознакомления и безоговорочного
        согласия с условиями Договора;<br><br>2.2.4. оплата стоимости Объекта реализации посредством заполнения
        специальной формы оплаты Объекта реализации и совершения всех действий, необходимых для перечисления оплаты
        стоимости Объекта реализации Исполнителю.<br><br>2.2.5. Договор считается заключенным с момента оплаты
        Потребителем стоимости соответствующего Объекта реализации. Оплата осуществляется с помощью сервисов
        интернет-эквайринга, доступных на Сайте. При этом оплата считается осуществленной с момента зачисления
        соответствующей суммы денежных средств на счет Исполнителя.<br><br>2.2.6. В подтверждение заключения Договора
        Потребителю на адрес электронной почты, указанный в форме заказа в соответствии с пунктом 2.2.3 Договора, в
        течение 1 (одного) рабочего дня с момента оплаты стоимости Объекта реализации направляется Уведомление об
        успешном заказе, являющееся также уведомлением о заключении Договора.<br><br>Предмет Договора<br>В зависимости
        от выбора Потребителем Объекта реализации:<br><br>3.1. Исполнитель обязуется оказать Потребителю информационные
        услуги путем предоставления доступа к Вебинару или урокам;<br><br>3.2. Исполнитель обязуется передать
        Потребителю Информационный курс в электронном виде;<br><br>3.3. Исполнитель обязуется передать Потребителю в
        собственность дополнительные материалы (книги, брошюры, чек-листы и т.д.).<br><br>Индивидуальные ссылки<br>4.1.
        Любой переход по Индивидуальной ссылке считается произведенным Потребителем или третьим лицом по поручению
        Потребителя.<br><br>4.2. Потребитель несет риски использования Индивидуальной ссылки третьими лицами без
        согласия Потребителя в случае, если такое использование стало возможным в результате непринятия Потребителем
        соответствующих мер предосторожности, в том числе непринятия мер по обеспечению конфиденциальности пароля к
        адресу электронной почты, на которую была отправлена Индивидуальная ссылка.<br><br>Права на результаты
        интеллектуальной деятельности<br>5.1. Исключительные и личные неимущественные права на Сайт, любые результаты
        интеллектуальной деятельности, размещенные на Сайте или содержащиеся в Объектах реализации, принадлежат
        Исполнителю или иным лицам, заключившим с Исполнителем соглашение, дающее ему право размещать результаты
        интеллектуальной деятельности этих лиц на Сайте, в Объектах реализации или в их составе, и охраняются в
        соответствии с действующим законодательством Российской Федерации.<br><br>5.2. Действия и/или бездействие
        Потребителя, повлекшие нарушение прав Исполнителя или направленные на нарушение прав Исполнителя на Сайт,
        Объекты реализации или их компоненты, влекут уголовную, гражданскую и административную ответственность в
        соответствии с законодательством Российской Федерации.<br><br>5.3. Все результаты интеллектуальной деятельности,
        содержащиеся на Сайте и в Объектах реализации, могут быть использованы Потребителем исключительно в личных
        целях. Потребитель не вправе использовать такие результаты иными способами.<br><br>Достижение результата<br>6.1.
        Исполнитель не несет ответственности за достоверность, практическую применимость и ценность информации,
        содержащейся в Объектах реализации.<br><br>6.2. Исполнитель не несет ответственности за достижение каких-либо
        результатов, связанных с практическим применением информации, содержащейся в Объектах реализации. Любые
        рекомендации, содержащиеся в Объектах реализации, осуществляются Потребителем на свой риск.<br><br>Возврат
        денежных средств<br>7.1. Потребитель вправе в течение 14 (четырнадцати) календарных дней с момента завершения
        оказания услуг по проведению обучения в виде вебинаров и уроков, момента исполнения обязательств по передаче
        дополнительных материалов, требовать возврата стоимости Объекта реализации, указав объективную причину («не
        понравилось», «мало информации» «не прислали сертификат» - не является объективной причиной). При этом
        Потребитель должен возместить Исполнителю расходы по проведению обучения (оплата платформы, комиссия банка за
        эквайринг).<br>
        <br>7.2.Для возврата стоимости Объекта реализации в соответствии с пунктом 10.1 Договора Потребитель обязан в
        письменной форме заказным письмом с описью вложения и уведомлением о вручении отправить Исполнителю
        соответствующее заявление с указанием:<br><br>7.2.1. фамилии, имени, отчества Потребителя (при этом Исполнитель
        вправе затребовать у Потребителя предоставления копии документа, удостоверяющего личность
        Потребителя);<br><br>7.2.2. даты заключения Договора;<br><br>7.2.3. номера Договора, указанного в Уведомлении о
        заключении Договора;<br><br>7.2.4. Объектов реализации, стоимость которых подлежит возврату.<br><br>7.3. Возврат
        денежных средств в случаях, предусмотренных Договором, осуществляется на банковский счет Потребителя, с которого
        денежные средства были перечислены Исполнителю, в течение 10 (десяти) рабочих дней с момента возникновения
        оснований для возврата.<br><br>7.4. В случае невозможности возврата денежных средств способом, предусмотренным
        пунктом 10.3 Договора, Исполнитель уведомляет об этом Потребителя в течение срока, установленного пунктом 10.3
        Договора. В этом случае возврат денежных средств осуществляется в месте нахождения Исполнителя по требованию
        Потребителя, либо иным способом, дополнительно согласованном Сторонами.<br><br>7.5. Потребитель, реализовавший
        право, предусмотренное пунктом 10.1 Договора, в том числе по ранее заключенным с Исполнителем договорам,
        утрачивает право использовать Сайт в каких-либо целях, в том числе в целях приобретения Объектов
        реализации.<br><br>Порядок направления претензий<br>8.1. Все споры, разногласия и претензии, которые могут
        возникнуть в связи с исполнением, расторжением или признанием недействительным Договора, Стороны будут
        стремиться решить путем переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой
        Стороне сообщение по средством мессенджеров с указанием возникших претензий и/или разногласий.<br><br>8.2.
        Указанное в пункте 8.1 Соглашения сообщение направляется Потребителем по электронной почте по адресу
        info@komarova-marketolog.ru , а также направляется Исполнителю в письменном виде посредством отправки по почте
        заказным письмом с уведомлением о вручении и описью вложения. Сообщение должно содержать суть предъявляемого
        требования, доказательства, подтверждающие требование, а также сведения, предусмотренные пунктами 10.2.1 –
        10.2.3 Договора.<br><br>8.3. В течение 15 (пятнадцати) рабочих дней с момента получения оригинала указанного в
        пункте 8.1 Договора сообщения, при условии, что данное сообщение соответствует положениям пункта 8.2 Договора,
        Сторона, получившая его, обязана направить ответ на это сообщение.<br><br>8.4. В случае если ответ на сообщение
        не будет получен направившей сообщение Стороной в течение 30 (тридцати) рабочих дней с даты направления
        соответствующего сообщения, либо если Стороны не придут к соглашению по возникшим претензиям и/или разногласиям,
        спор подлежит передаче на рассмотрение в Арбитражный суд города Москвы, либо в суд общей юрисдикции по месту
        нахождения Исполнителя.<br><br>Обработка персональных данных Потребителя<br>9.1. Заключая Договор и внося
        персональные данные в форму заказа на соответствующей странице Сайта, Потребитель делает внесенные персональные
        данные общедоступными. Настоящим Потребитель выражает свое согласие с тем, что обработка внесенных им при
        заключении Договора персональных данных осуществляется на основании подпункта 10 пункта 1 статьи 6 Федерального
        закона №152-ФЗ от 27 июля 2006 года «О персональных данных» (в редакции от 22.02.2017).<br><br>9.2. Исполнитель
        при обработке персональных данных Потребителя обязуется принять все предусмотренные действующим
        законодательством Российской Федерации меры для их защиты от несанкционированного доступа.
        Политика по обработке персональных данных Исполнителя и Положение по обеспечению безопасности персональных
        данных Исполнителя являются в соответствии с требованиями части 2 статьи 18.1 Федерального закона №152-ФЗ от 27
        июля 2006 года «О персональных данных» (в редакции от 22.02.2017) общедоступными и постоянно расположены по
        адресам http://komarova-marketolog.ru/oferta.<br><br>9.3. При этом не исключено, что в результате определенных
        обстоятельств персональные данные Потребителя могут стать доступными и другим лицам.<br>Настоящим Потребитель
        соглашается с тем, что не будет предъявлять претензии к Исполнителю в связи с этим, учитывая, что Потребитель
        делает свои персональные данные общедоступными.<br><br>9.4. Кроме того, настоящим Потребитель соглашается
        получать от Исполнителя информацию, в том числе, являющуюся рекламой, по указанным в форме заказа номеру
        телефона и адресу электронной почты.<br><br>Изменения условий Договора<br>10.1. Стороны соглашаются, что Договор
        может быть изменен Исполнителем в одностороннем порядке путем размещения обновленного текста Договора в сети
        Интернет по адресу http://komarova-marketolog.ru/oferta . Потребитель подтверждает свое согласие с изменениями
        условий Договора путем использования Сайта.

    </p>

</div>
{% endblock %}