.footer {
    margin-bottom: 75px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    padding: 98px 56px 20px 16px;
    width: calc(100% / 3 - 40px);
    background-image: url(../img/frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--white_color);
}