asgiref==3.8.1
astroid==3.3.8
certifi==2022.12.7
charset-normalizer==3.1.0
dill==0.3.9
Django==5.1.6
django-debug-toolbar==4.0.0
django-embed-video==1.4.8
django-jazzmin==3.0.1
django-sass==1.1.0
flake8==7.1.2
idna==3.4
isort==6.0.0
libsass==0.23.0
mccabe==0.7.0
Pillow==9.2.0
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
pylint==3.3.4
pyTelegramBotAPI==4.10.0
pytz==2023.3
requests==2.28.2
sqlparse==0.5.3
tomlkit==0.13.2
typing_extensions==4.11.0
urllib3==1.26.15
