{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <section class="">
        <div class="container hero pt-5 pb-3">
            <div class="hero-block">
                <h1 class="title">
                    Рост бренда <br>с Комаровой
                </h1>
                <p class="hero-param">
                    Подписка на закрытое обучающее сообщество по построению личного бренда
                </p>
                </div>
            <button class="hero-btn ">
                Начать бесплатно
            </button>
        </div>
    </section>
    <section class="">
        <div class="container about pt-5 pb-3">
            <div class="about-top  mb-5">
                <div class="about-top__left p-3">
                    <h2 class="about-title">
                        Не очередной курс
                    </h2>
                    <p class="about-param">
                        Подписка на обучающее сообщество закрывает все основные пробелы в маркетинге и продвижении личного бренда, с которыми приходят как новички, так и опытные эксперты.
                    </p>
                </div>
                <div class="about-top__right p-3">
                    <h3 class="about-title__second">
                        У вас тут сущность в виде неуверенного <br>в себе эксперта. <br>Сейчас я все это почистию.
                    </h3>
                </div>

            </div>
            <div class="about-bottom">
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-1.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Не знаю, как привлекать трафик
                    </h3>
                </div>
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-2.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Не знаю, где брать клиентов
                    </h3>
                </div>
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-3.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Не знаю, как автоматизировать свой блог
                    </h3>
                </div>
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-4.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Не умею снимать и делать красивый визуал
                    </h3>
                </div>
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-5.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Мои рилсы не набирают охваты и не раскручиваются
                    </h3>
                </div>
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-6.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Не знаю, как делать крутые прогревы
                    </h3>
                </div>
                <div class="about-bottom__cards p-3">
                    <img src="../../static/main/img/card-7.png" alt="" class="about-bottom__cards--img mb-2">
                    <h3 class="about-bottom__cards-title">
                        Не знаю, как продавать себя
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="">
        <div class="container services pt-5 pb-3">
        </div>
    </section>
    <section id="portfolios" class="">
        <div class="container portfolios pt-5 pb-3">
        </div>
    </section>
    <section class="">
        <div class="container cooperation pt-5 pb-3">
            <div class="cooperation__main ps-2">
                <form id="fact-form">
    {% csrf_token %}
    <input type="checkbox" id="fact1" name="fact" value="1"> Я — руководитель отдела маркетинга в 3-х онлайн-школах<br>
    <input type="checkbox" id="fact2" name="fact" value="2"> Потратила на различные курсы и обучения больше 3 000 000 руб<br>
    <input type="checkbox" id="fact3" name="fact" value="3"> Разработала и запустила маркетинговые стратегии в 127 проектах<br>
    <input type="checkbox" id="fact4" name="fact" value="4"> Вложила в рекламный бюджет одного проекта 1 300 000 руб.<br>
    <input type="checkbox" id="fact5" name="fact" value="5"> Помимо популярных ниш (продажи, психология, IT, бьюти) я работала с производствами систем обогрева, нумерологией, фитнесом и финансами<br>

    <button type="button" id="check-facts">Проверить</button>
</form>

<div id="feedback"></div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container reviews pt-5 pb-3">
        </div>
    </section>
    <section class="" id="product">
        <div class="container product pt-5 pb-3">
        </div>
    </section>
    
{% endblock %}
