.blog-img {
    width: 60%;  /* Измените ширину (например, 60% от контейнера) */
    max-width: 800px;  /* Ограничение максимального размера */
    display: block;
    margin: 0 auto; /* Центрирование */
}

.blog-title {
    color: var(--black_color);
}

.blog-btn {
    border: 2px solid var(--gold);
}
