.subscription-top {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--chambray);
    border-radius: 20px;
}

.subscription-param {
    margin-bottom: 2em;
    width: 70%;
    font-weight: 500;
    font-size: 24px;
    line-height: 103%;
}

.subscription-btn {
    width: 100%;
    justify-content: center;
    background: var(--electricviolet);
    color: var(--white);
}

.subscription-bottom {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов внутри */
}

.title-third {
    width: 50%;
    font-family: "Bebas";
    font-weight: 400;
    font-size: 72px;
    line-height: 103%;
    color: var(--aqua);
}

.subscription-bottom__list {
    width: 90%;
}

.subscription-bottom__item {
    padding: 3em 10em;
    position: relative;
    border-radius: 20px;
    background-color: var(--chambray);
}

.subscription-bottom__item::before {
    position: absolute;
    bottom: 0;
    top: 0; /* Выравниваем по верхнему краю */
    left: 0; /* Двигаем влево, чтобы начиналось от края */
    z-index: 1;
    width: 50%;
    height: 50%;
}

.subscription-bottom__item:first-child::before {
    content: url('../img/svg/1.svg');
}

.subscription-bottom__item:nth-child(2)::before {
    content: url('../img/svg/2.svg');
}

.subscription-bottom__item:nth-child(3)::before {
    content: url('../img/svg/3.svg');
}

.subscription-bottom__item:nth-child(4)::before {
    content: url('../img/svg/4.svg');
}

.subscription-bottom__item:nth-child(5)::before {
    content: url('../img/svg/5.svg');
}

.subscription-bottom__item:nth-child(6)::before {
    content: url('../img/svg/6.svg');
}

.subscription-bottom__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 122%;
    color: var(--aqua);
}