{% extends 'main/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <h1 class="title title__animation mb-3">{{ h1 }}</h1>
      <div class="row">
        <!-- Левая колонка со списком курсов -->
        <div class="col-md-4">
          <h2>Курсы</h2>
          <ul class="list-unstyled">
            {% for course in courses %}
              <li class="mb-3 border p-3">
                <a href="?course={{ course.slug }}" class="">
                {{ course.title }}
              </a>
              <a href="{{ course.get_absolute_url }}" class="button btn-reset mb-3 mt-3">Перейти</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Правая колонка с модулями выбранного курса -->
        <div class="col-md-8">
          <h4>{{ selected_course.title|default_if_none:"Выберите курс" }}</h4>
          {% if modules %}
            <ul>
              {% for module in modules %}
                <li>{{ module.title }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>Выберите курс из списка, чтобы увидеть оглавление</p>
          {% endif %}
        </div>
      </div>      
      <script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b25527632/crm/site_button/loader_1_tswzs7.js');
    </script>
    </div>
</section>
{% endblock %}