{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <section class="">
        <div class="container hero pt-5 pb-3">
            <div class="hero__main flex row">
                <div class="hero__left-block pe-0 col-lg-6 col-md-6">
                    <h1 class="title">
                        создай уникальный блог
                    </h1>
                    <h2 class="subtitle">
                        научись вести блог без навязанных трендов и проверенных схем.
                    </h2>
                    <ul class="hero__list mb-5 list-reset">
                        <li class="hero__item">
                            без выгорания
                        </li>
                        <li class="hero__item">
                            без постоянных прогревов
                        </li>
                        <li class="hero__item">
                            уникально и интересно
                        </li>
                    </ul>
                    <div class="d-flex mb-3 col-lg-6 col-md-9">
                        <a href="#product" class="button btn-reset">
                            услуги
                        </a>
                        <a href="{% url 'classes' %}" target="_blank" class="button btn-reset">
                            обучение
                        </a>
                    </div>
    
                </div>
                <div class="hero__right-block mb-5 pb-2 pt-2 ps-0 d-flex justify-content-center col-lg-6 col-md-6">
                    <img src="../../static/main/img/main.png" alt="Фотография" class="w-75">
                </div>
            </div>
            <div class="about-line running-line d-flex justify-content-between align-items-center pb-2 pt-2 ps-1 pe-1">
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.3477 0.237754L16.927 7.04897L24.7582 2.42629L19.8984 8.84591L29.5991 9.46081L20.1471 11.7283L26.0348 17.2206L17.5274 14.0077L16.153 21.16L13.5738 14.3488L5.74256 18.9715L10.6024 12.5519L0.90166 11.937L10.3537 9.66948L4.46604 4.1772L12.9734 7.39011L14.3477 0.237754Z"
                        fill="#FC9E6D" />
                </svg>

                SHORTS
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.3477 0.237754L16.927 7.04897L24.7582 2.42629L19.8984 8.84591L29.5991 9.46081L20.1471 11.7283L26.0348 17.2206L17.5274 14.0077L16.153 21.16L13.5738 14.3488L5.74256 18.9715L10.6024 12.5519L0.90166 11.937L10.3537 9.66948L4.46604 4.1772L12.9734 7.39011L14.3477 0.237754Z"
                        fill="#FC9E6D" />
                </svg>
                STORIES
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.3477 0.237754L16.927 7.04897L24.7582 2.42629L19.8984 8.84591L29.5991 9.46081L20.1471 11.7283L26.0348 17.2206L17.5274 14.0077L16.153 21.16L13.5738 14.3488L5.74256 18.9715L10.6024 12.5519L0.90166 11.937L10.3537 9.66948L4.46604 4.1772L12.9734 7.39011L14.3477 0.237754Z"
                        fill="#FC9E6D" />
                </svg>
                REELS
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.3477 0.237754L16.927 7.04897L24.7582 2.42629L19.8984 8.84591L29.5991 9.46081L20.1471 11.7283L26.0348 17.2206L17.5274 14.0077L16.153 21.16L13.5738 14.3488L5.74256 18.9715L10.6024 12.5519L0.90166 11.937L10.3537 9.66948L4.46604 4.1772L12.9734 7.39011L14.3477 0.237754Z"
                        fill="#FC9E6D" />
                </svg>
                POSTS
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.3477 0.237754L16.927 7.04897L24.7582 2.42629L19.8984 8.84591L29.5991 9.46081L20.1471 11.7283L26.0348 17.2206L17.5274 14.0077L16.153 21.16L13.5738 14.3488L5.74256 18.9715L10.6024 12.5519L0.90166 11.937L10.3537 9.66948L4.46604 4.1772L12.9734 7.39011L14.3477 0.237754Z"
                        fill="#FC9E6D" />
                </svg>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container about pt-5 pb-3">
            <div class="about__main">
                <div class="about__left-block mb-5 d-flex justify-content-between">
                    <h2 class="subtitle title__about">
                        то обучение, где нет домашек, долгих лекций и проектной работы
                    </h2>
                    <p class="about__content">
                        когда ты делаешь как все, то и конкурентов становится больше, а зритель не
                        видит твою индивидуальность. Тебя просто пролистывают, как очередной блог «магазин
                        на диване». <br><span class="span">ЧТО ЖЕ ДЕЛАТЬ?</span>

                    </p>
                </div>
                <div class="about__right-block mb-5">
                    <ul class="about__list list-reset row">
                        <li class="about__item col-md-4">
                            <span class="span">
                                научится рассказывать истории
                            </span>
                            <p class="about__param m-0">
                                не монтаж, не прогревы, не визуал делают твой блог интересныи и уникальным, а твои
                                истории
                            </p>
                        </li>
                        <li class="about__item col-md-4">
                            <span class="span">
                                понять структуру блога
                            </span>
                            <p class="about__param m-0">
                                Если ты станешь архитектором своего блога, то он легко монетизируется
                            </p>
                        </li>
                        <li class="about__item col-md-4">
                            <span class="span">
                                найти себя и создавать контент
                            </span>
                            <p class="about__param m-0">
                                ты напишешь свою историю и блог станет сериалом твоей жизни
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="about__results row d-flex justify-content-center">
                    <div class="about__results-block pt-2 pb-2 col-lg-3 col-md-4">
                        <span class="span">
                            3+
                        </span>
                        <p class="m-0">
                            года я в сфере рекламы
                        </p>
                    </div>
                    <div class="about__results-block pt-2 pb-2 col-lg-3 col-md-4">
                        <span class="span">
                            62+
                        </span>
                        <p class="m-0">
                            проекта за моими плечами
                        </p>
                    </div>
                    <div class="about__results-block pt-2 pb-2 col-lg-3 col-md-4">
                        <span class="span">
                            28+
                        </span>
                        <p class="m-0">
                            экспертов, которым я изменила жизнь
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="">
        <div class="container services pt-5 pb-3">
            <div class="services__main">
                <div class="services__logo">
                    <h3 class="heading mb-5">
                        Структура обучения
                    </h3>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Понимание маркетинга и режиссуры
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                блог - это не только продажи, но и не только кино. очень важно понимать роль маркетинга и режиссуры. вот я и объясню на пальцах, без душноты, чем полезен маркетинг и как стать режиссером своего блога.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Алгоритмы и понимание социальной сети
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                ЕСТЬ ВЕЩИ, КОТОРЫЕ ПРОСТО НУЖНО ЗНАТЬ. ЭТО, КАК МАШИНА: НУЖНО ПОНИМАТЬ, ЧТО ОНА УМЕЕТ И КАК ОНА РАБОТАЕТ, ЧТОБЫ МОЖНО БЫЛО ДОЕХАТЬ ДО ТОЧКИ Б.
                                Я РАССКАЖУ, КАК РАБОТАЕТ социальная сеть, на что нужно обязательно обращать внимание и почему твои крутые ролики не залетают
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                СТРУКТУРА И АРХИТЕКТУРА БЛОГА
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                ИЗ ЧЕГО СТРОИТСЯ БЛОГ? НЕТ, НЕ ИЗ ФОТОК И ВИДОСИКОВ. 
                                МЫ ВЫСТРОИМ СИСТЕМУ РАЗ И НАВСЕГДА, ИЗБАВИМСЯ ОТ НЕНУЖНЫХ МАНИПУЛЯЦИЙ И ПЕРЕСТАНЕМ ДЕЛАТЬ, КАК ВСЕ, грамотно выстроим стратегию продвижения. У БЛОГА ПОЯВИТСЯ ГЕРОЙ, МИССИЯ, СЮЖЕТ, И ЛОГЛАЙН.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Аналитика
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                КАК АНАЛИЗИРОВАТЬ РЫНОК? КОНКУРЕНТОВ? понимать, кто ваша аудитория? какой контент заходит? Кто у вас покупает? Всё это можно узнать только благодаря аналитике и здесь я научу вас, как проводить анализ.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                разработка контента
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                самый сложный и интересный блог обучения, ведь я разберу для вас такие темы, как: 
                               <br>-Виды и форматы контента
                               <br>-сценарное дело 
                               <br>-контент-план и матрица контента
                               <br>-написание постов
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                продакшн
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Как правильно фоткать и снимать, как сделать простой монтаж, как оформить красиво сторис, посты и обложки, где это все делать? На все эти вопросы я отвечу в модуле «Продакшн». Здесь мы уже будем создавать ручками ваш сериал и выпускать его в люди
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseEight" aria-expanded="false"
                                aria-controls="flush-collapseEight">
                                ПРОДВИЖЕНИЕ
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                САМЫЙ ИНТЕРЕСНЫЙ БЛОГ. ЗДЕСЬ РАССКРЫВАЮТСЯ ТАЙНЫ БЕСПЛАТНОГО И ПЛАТНОГО ПРОДВИЖЕНИЯ. ПРИЧЕМ ДЛЯ ТЕХ, КОМУ НУЖНО ВСЕГО ЛИШЬ 20 НОВЫХ КЛИЕНТОВ В МЕСЯЦ ИЛИ ТЫСЯЧИ НОВЫХ ПОДПИСЧИКОВ В НЕДЕЛЮ
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                aria-controls="flush-collapseSeven">
                                МОНЕТИЗАЦИЯ
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Конечно мы ведем блог не только для души, но и для кармана. В этом модуле я расскажу, какие виды монетизации бывают, как выбрать подходящий и прийти к точке Б. Ну а если грубо: здесь все о самопрезентации, продажах, продуктах, воронках и бабках.                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="portfolios" class="">
        <div class="container portfolios pt-5 pb-3">
            <h3 class="heading mb-3">
                КОМУ ПОДОЙДЕТ ОБУЧЕНИЕ?
            </h3>

            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-label="Slide 1" aria-current="true"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                        class=""></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="var(--light-black_color)"></rect>
                        </svg>
                        <div class="container">
                            <div class="carousel-caption px-4 pb-5 slide-1">
                                <h4 class="portfolios__subtitle pt-3">НАЧИНАЮЩИМ БЛОГЕРАМ</h4>
                                <p class="portfolios__param mb-2 text-start">
                                   <br> <span class="span">Если</span> ты не знаешь, что рассказать
                                   <br><span class="span">Если</span> ты не знаешь, что снимать
                                   <br><span class="span">Если</span> ты хочешь зарабатывать на рекламе и блоге
                                   <br><span class="span">Если</span> ты хочешь стабильный пассивный доход
                                   <br><span class="span">Если</span> ты устал выдумывать и копировать контент
                                   <br><span class="span">Если</span> ты хочешь понять, как продвигаться
                                   <br><span class="span">Если</span> ХОЧЕШЬ ОСВОИТЬ НОВУЮ ПЛОЩАДКУ
                                </p>
                                <p>
                                    <span class="span">то этот курс для тебя</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="var(--light-black_color)"></rect>
                        </svg>
                        <div class="container">
                            <div class="carousel-caption px-4 pb-5 slide-2">
                                <h4 class="portfolios__subtitle pt-3">экспертам, которые продают свои услуги в социальных сетях</h4>
                                <p class="portfolios__param mb-2 text-start">
                                    <br> <span class="span">Если</span> ты хочешь регулярно получать заявки
                                    <br> <span class="span">Если</span> ты устал выдумывать воронки
                                    <br> <span class="span">Если</span> ты без понятия, как использовать площадку
                                    <br> <span class="span">Если</span> тебе нужен постоянный трафик
                                    <br> <span class="span">Если</span> ты хочешь стать уникальным
                                    <br> <span class="span">Если</span> ты выкладываешь только свои работы                                 
                                </p>
                                    <p>
                                        <span class="span">то этот курс для тебя</span>
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="var(--light-black_color)"></rect>
                        </svg>
                        <div class="container">
                            <div class="carousel-caption px-4 pb-5 slide-3">
                                <h4 class="portfolios__subtitle pt-3">экспертам, которые продают свои услуги в социальных сетях</h4>
                                <p class="portfolios__param mb-2 text-start">
                                    <br> <span class="span">Если</span> ВЫ САМИ ВЕДЕТЕ БИЗНЕС
                                    <br> <span class="span">Если</span> ХОТИТЕ ПОНИМАТЬ, ЧТО ДЕЛАЕТ ВАШ СММЩИК
                                    <br> <span class="span">Если</span> ХОТИТЕ ОБУЧИТЬ СВОЙ ПЕРСОНАЛ
                                    <br> <span class="span">Если</span> НУЖНО ВЫЙТИ НА НОВУЮ ПЛОЩАДКУ
                                    <br> <span class="span">Если</span> ХОТИТЕ РАБОТАТЬ С БЛОГЕРАМИ
                                    <br> <span class="span">Если</span> ХОТИТЕ СИЛЬНЫЙ И ПРИБЫЛЬНЫЙ БРЕНД                                
                                </p>
                                <p>
                                    <span class="span">то этот курс для тебя</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container cooperation pt-5 pb-3">
            <div class="cooperation__main">
                <h3 class="heading mb-5">
                    ЗА МОИМИ ПЛЕЧАМИ
                </h3>
                <ul class="row justify-content-between list-reset">
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        12 ЧАСОВ ЛЕКЦИЙ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        367 ВИДЕОРОЛИКОВ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        1598 СЦЕНАРИЕВ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        85 ЭКСПЕРТОВ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        ОКОЛО 400000 STORIES 
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        590 КРЕАТИВОВ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        87 ТЗ ДЛЯ БЛОГЕРОВ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        46 СТАТЕЙ
                    </li>
                    <li class="cooperation__item d-flex justify-content-center mb-5 me-2 col-md-3 col-lg-3 p-5">
                        32 АККАУНТА
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container reviews pt-5 pb-3">
            <h3 class="heading mb-5">
                Отзывы
            </h3>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner pt-5 pb-5">
                  <div class="carousel-item reviews__item active" >
                    <div class="d-flex ps-5 pe-5 flex-column justify-content-center align-items-center">
                        <img src="../../static/main/img/cust-1.png" class="reviews__img d-block mb-3" alt="...">
                        <p>
                            ТАТЬЯНА (nail-МАСТЕР)
                        </p>
                        <p class="reviews__param mb-0">
                            Привет вот и подошёл 3й марафон к концу. Спасибо большое за полученные знания. Они сейчас как никогда мне были нужны. Много интересной информации, просто море! Отдельное спасибо за книгу. Читаю. Рада знакомству
                        </p>
                      </div>
    
                    </div>
                  <div class="carousel-item reviews__item" >
                    <div class="d-flex ps-5 pe-5 flex-column justify-content-center align-items-center">

                    <img src="../../static/main/img/cust-2.png" class="reviews__img d-block mb-3" alt="...">
                    <p>
                        КСЕНИЯ (nail-МАСТЕР)
                    </p>
                    <p class="reviews__param mb-0">
                        Аня, хочу сказать тебе огромное спасибо за моё участие в твоём марафоне по созданию Stories и контента. Очень грамотно подавала всю информацию, особенно хочу сказать тебе респект за твою обратную связь, в этом ты большая умничка, объясняла, если что-то не получалось. Я очень много новой информации получила от тебя и теперь все это надо применять. Ещё раз говорю тебе спасибо!!
                    </p>
                    </div>
                  </div>
                  <div class="carousel-item reviews__item">
                    <div class="d-flex ps-5 pe-5 flex-column justify-content-center align-items-center">

                    <img src="../../static/main/img/cust-3.png" class="reviews__img d-block mb-3" alt="...">
                    <p>
                        ОЛЕСЯ (СЕТЕВИК)
                    </p>
                    <p class="reviews__param mb-0">
                        Привет! я только пробежалась глазами по материалу. Осмысливать буду вечером, но хочу сказать огромное тебе спасибо.
                        За такие крутые марафоны, за твою энергетику, за то что не слезешь с нас и будешь до конца в наши головы впихивать информацию. Ты излагаешь все подробно, кратно и при этом ты еще раз объясняешь, если кто-то, например я не поймет в очередной раз. Спасибо большое!
                    </p>
                    </div>
                  </div>
                  <div class="carousel-item reviews__item">
                    <div class="d-flex ps-5 pe-5 flex-column justify-content-center align-items-center">

                    <img src="../../static/main/img/cust-4.png" class="reviews__img d-block mb-3" alt="...">
                    <p>
                        Мария (РИЛСМЕЙКЕР)
                    </p>
                    <p class="reviews__param">
                        Я ТЕБЯ ЗНАЮ ДАВНО, НО И ПОНЯТИЯ НЕ ИМЕЛА, НАСКОЛЬКО ТЫ КРУТАЯ! Я ТОЛЬКО С ТОБОЙ ПОНЯЛА НАКОНЕЦ-ТО , КАК ВЕСТИ ИНСТУ, КЕМ Я ХОЧУ БЫТЬ И ЧТО МНЕ НУЖНО СДЕЛАТЬ. ЛЮДИ ДОЛЖНЫ ТЕБЕ ПЛАТИТЬ ПРОСТО ЗА ТО, ЧТО СТОЯТ РЯДОМ С ТОБОЙ, ОТВЕЧАЮ! ПОКУПАЮ ВСЕ ТВОИ ПРОДУКТЫ И ДРУГИМ СОВЕТУЮ.
                    </p>
                    </div>
                  </div>
                  <div class="carousel-item reviews__item">
                    <div class="d-flex ps-5 pe-5 flex-column justify-content-center align-items-center">

                    <img src="../../static/main/img/cust-5.png" class="reviews__img d-block mb-3" alt="...">
                    <p>
                        Татьяна (колорист)
                    </p>
                    <p class="reviews__param mb-0">
                        Ань, твои марафоны невероятные! Сколько не пыталась найти ту самую информацию, которая бы раскрыла суть ведения аккаунта - у меня не выходило. 
                        И только сейчас поняла почему не было понимания. Ты поступаешь самым верным образом - даешь «удочку», а не «рыбку». 
                        Ты ведёшь нас к осознанию так, чтобы это уже никуда не делось. Твой подход самый правильный, в данной сфере. 
                        Цель – раскрыть суть ведения аккаунта и возможность в будущем справляться самостоятельно!
                         
                    </p>
                    </div>
                  </div>
                  <div class="carousel-item reviews__item">
                    <div class="d-flex ps-5 pe-5 flex-column justify-content-center align-items-center">

                    <img src="../../static/main/img/cust-6.png" class="reviews__img d-block mb-3" alt="...">
                    <p>
                        АЛЕНА (ВЛАДЕЛЕЦ БРЕНДА ОДЕЖДЫ)
                    </p>
                    <p class="reviews__param mb-0">
                        Привет! Первый марафон личный бренд и создание контента, закончился.  Хочу сказать большое спасибо! В некоторых моментах кипел мозг (оно и хорошо). Узнала новое для себя и про себя!
                        Иногда казалось что с психологом общаюсь. Это очень здорово. Без напряга и интересно! Рада, что выбрала тебя.
                    </p>
                    </div>
                  </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>
    <section class="" id="product">
        <div class="container product pt-5 pb-3">
            <div class="cooperation__main">
                <h3 class="heading mb-5">
                    Курсы
                </h3>
                <ul class="product__list list row">
                    {% for i in items %}
                    <li class="product__item">
                        <h4 class="product__title">{{ i.title }}</h4>
                        <p>{{ i.text|safe }}</p>
                        <p>{{ i.price }} руб/ со скидкой {{ i.discountPrice }} руб</p>
                        <a href="{{ i.url }}" target="_blank" class="button btn-reset">
                            Купить
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    
{% endblock %}