{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<main class="main">
  <section class="blog">
    <h1 class="title">{{ h1 }}</h1>
    <ul class="list">
      {% for p in posts %}
      <li class="item mb-3 pb-5 pt-3 blog-item">
        <img class="blog-img mb-3" src="{{ p.image.url }}" alt="">
        <h2>{{ p.title }}</h2>
        <p>{{ p.text|linebreaks|truncatewords:50 }}</p>
        <p class="data-span">{{ p.publish }}</p>
        <a href="{{ p.get_absolute_url }}" class="btn btn-dark">Читать пост</a>
      </li>
      {% endfor %}
    </ul>
    <p class="paper__param">
      <span>ГаГаГА</span>
    </p>
  </section>
</main>
{% endblock %}