{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<main class="main">
    <section class="hero">
        <div class="container">
            <div class="hero__main flex row">
                <div class="hero__left-block col-lg-8 col-md-6">
                    <h1 class="title">
                        Главный заголовок
                    </h1>
                    <h2 class="subtitle">
                        Заголовок номер 2
                    </h2>
                    <ul class="hero__list list-reset">
                        <li class="hero__item">
                            Перечисление важного
                        </li>
                        <li class="hero__item">
                            Перечисление важного
                        </li>
                        <li class="hero__item">
                            Перечисление важного
                        </li>
                    </ul>
                </div>
                <div class="hero__right-block pb-2 pt-2 d-flex justify-content-center col-lg-4 col-md-6">
                    <img src="../../static/main/img/main.png" alt="Фотография" class="w-75">
                </div>
                <div class="flex mb-3 col-lg-6 col-md-9">
                    <a href="#product" class="button btn-reset">
                        кнопка услуги         
                    </a>
                    <a href="#" target="_blank" class="button btn-reset">
                        кнопка блог
                    </a>
                </div>
            </div>
            <div class="about-line d-flex justify-content-between pb-2 pt-2 ps-1 pe-1">
                Главный слоган, типа "крутые ногти - уверенность в завтрашнем дне"
                <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.3477 0.237754L16.927 7.04897L24.7582 2.42629L19.8984 8.84591L29.5991 9.46081L20.1471 11.7283L26.0348 17.2206L17.5274 14.0077L16.153 21.16L13.5738 14.3488L5.74256 18.9715L10.6024 12.5519L0.90166 11.937L10.3537 9.66948L4.46604 4.1772L12.9734 7.39011L14.3477 0.237754Z"
                        fill="#FC9E6D" />
                </svg>
            </div>
        </div>
    </section>

</main>
{% endblock %}